// COLORS

$color-white: #fff;
$color-black: #000;

$color-head-icon: #a1a7b3;
$color-head-text: #505763;

$color-text: #777;
$color-light-text-color: #848482;
$color-head: #656565;
$color-nav-bg: #f8f8f8;
$color-tab-bg:#f7f8fa;
$color-primary: #008000;
$color-primary-light: lighten($color-primary, 12%);
$color-primary-dark: darken($color-primary, 12%);

$color-secondary: #f0b425;
$color-secondary-light: lighten($color-secondary, 15%);