.testimonial {
  padding: 2.5rem 1.5rem 2.5rem 2.5rem;
  border-style: solid;
  border-width: 2px 1px 1px;
  margin: 1.5rem;
  border-color: $color-secondary #ddd #ddd;

  .right-border {
    border-left: 4px solid lighten($color-secondary, 20%);
  }
}

.testimonial img {
  border: 1px solid #ddd;
  margin: auto auto 1.5rem;
  width: 100%;
}

.testimonial blockquote {
  font-size: 1.5rem;
  font-weight: 400;
}

.testimonial blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 6rem;
  line-height: 0;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.testimonial blockquote:after {
  content: close-quote;
  visibility: hidden;
}

.testimonial blockquote cite {
  float: left;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}
