// Universal Selector

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This define what 1 rem is (ie. 1rem = 10px)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1.7;
}